/* @font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto-Medium.ttf)
} */

@font-face{
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Light.ttf)
}

*{
    text-decoration: none;
    list-style: none;
}

html{
    height: 100%;
}